
body {
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    color: #353A34;
    overflow-x:hidden ;
}

.container-a {
    height: 100vh;
    width: 100vw;
    background-color: #F0D0C1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 122px;
    position: relative;
   
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.redes {
    margin-top: 3rem;
    display: flex;
}

.redes a{
text-decoration: none;
color: black;
padding: 1rem, 4rem;
border: 1px solid black;
min-width: 10rem;
display: flex;
align-items: center;
justify-content: center;
transition: .5s ease-in-out;
}

a:hover {
    background-color: #d0a47d;
}

a {
    color: #353A34;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#d0a47d ;
    height: 8vh;
}

.menu-nav {
    list-style: none;
    display: flex;
}
.menu-nav li{
   letter-spacing: 4px;
   margin-left: 32px;
}

.container-b{
    height: auto;
    width: 100%;
    background-color: #d0a47d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-apresentacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}